In [1]:
import pandas as pd
from os.path import join, dirname, basename
import os
import numpy as np
from icecream import ic

#import seaborn as sns

In [2]:
cells_meta_f = "/data/Mito_Trace/output/aggregate/CHIP_aggr/v04/data/clone_var/variants.init_knnRes.30_objs_standard/aggregate/cells_meta.tsv"
out_cl_sizes_f = "/data/Mito_Trace/output/aggregate/CHIP_aggr/v04/data/clone_var/variants.init_knnRes.30_objs_standard/aggregate/clone_sizes.tsv"
out_cl_order_f = "/data/Mito_Trace/output/aggregate/CHIP_aggr/v04/data/clone_var/variants.init_knnRes.30_objs_standard/aggregate/cloneOrder.tsv"
top_n = 6

In [3]:
cells_meta = pd.read_csv(cells_meta_f, sep="\t", index_col=0)
cells_meta.head()

,orig.ident,nCount_ATAC,nFeature_ATAC,total,duplicate,chimeric,unmapped,lowmapq,mitochondrial,passed_filters,...,nCount_RNA,nFeature_RNA,ID,Row.names,lineage,donor,condition,name,cluster_labels,run
cell,,,,,,,,,,,,,,,,,,,,,
CHIP_b1_Flt3l_AAACGAACACAGCCAC-1,Flt3l,2854,2854,10589.0,1294,41,31,456,2764,6003,...,3722,2998,AAACGAACACAGCCAC-1_Flt3l,Flt3l_AAACGAACACAGCCAC-1,27,CHIP_b1_0,Flt3l,CHIP_b1_0_27,9,CHIP_b1
CHIP_b1_Flt3l_AAACGAATCGCTGATA-1,Flt3l,1521,1521,6172.0,1092,29,21,296,1178,3556,...,2029,1760,AAACGAATCGCTGATA-1_Flt3l,Flt3l_AAACGAATCGCTGATA-1,19,CHIP_b1_0,Flt3l,CHIP_b1_0_19,3,CHIP_b1
CHIP_b1_Flt3l_AAACTCGAGATGTTCC-1,Flt3l,1223,1223,4318.0,548,13,13,212,1050,2482,...,1596,1442,AAACTCGAGATGTTCC-1_Flt3l,Flt3l_AAACTCGAGATGTTCC-1,1,CHIP_b1_0,Flt3l,CHIP_b1_0_1,1,CHIP_b1
CHIP_b1_Flt3l_AAACTCGAGTCTCCAA-1,Flt3l,2626,2626,9545.0,1407,34,25,514,1931,5634,...,3373,2791,AAACTCGAGTCTCCAA-1_Flt3l,Flt3l_AAACTCGAGTCTCCAA-1,20,CHIP_b1_0,Flt3l,CHIP_b1_0_20,1,CHIP_b1
CHIP_b1_Flt3l_AAACTCGTCTTACGGA-1,Flt3l,2577,2577,8882.0,1154,32,19,495,1811,5371,...,3144,2629,AAACTCGTCTTACGGA-1_Flt3l,Flt3l_AAACTCGTCTTACGGA-1,15,CHIP_b1_0,Flt3l,CHIP_b1_0_15,4,CHIP_b1

In [4]:
clone_counts = cells_meta.groupby(["name", "donor"]).size().to_frame('ncells').reset_index() #.apply(lambda x: )
assert(not clone_counts.duplicated(subset="name").any())
clone_counts = clone_counts.set_index("name")
clone_counts.head()

                  donor  ncells
name
CHIP_a1_0_1   CHIP_a1_0     117
CHIP_a1_0_13  CHIP_a1_0      22
CHIP_a1_0_4   CHIP_a1_0      75
CHIP_a1_0_5   CHIP_a1_0      75
CHIP_a1_0_7   CHIP_a1_0      66

In [5]:
clone_ranks = clone_counts.groupby(["donor"]).apply(lambda x: x[["ncells"]].rank(method='first', ascending=False)).rename({"ncells": "rank_ncells"}, axis=1)
clone_ranks

               rank_ncells
name
CHIP_a1_0_1            1.0
CHIP_a1_0_13           7.0
CHIP_a1_0_4            2.0
CHIP_a1_0_5            3.0
CHIP_a1_0_7            5.0
...                    ...
cd34norm_3_67         17.0
cd34norm_3_68         64.0
cd34norm_3_7          10.0
cd34norm_3_8           9.0
cd34norm_3_9          13.0

[471 rows x 1 columns]

In [6]:
clone_count_rank = pd.concat((clone_counts, clone_ranks), axis=1, ignore_index=False)
clone_count_rank

                    donor  ncells  rank_ncells
name
CHIP_a1_0_1     CHIP_a1_0     117          1.0
CHIP_a1_0_13    CHIP_a1_0      22          7.0
CHIP_a1_0_4     CHIP_a1_0      75          2.0
CHIP_a1_0_5     CHIP_a1_0      75          3.0
CHIP_a1_0_7     CHIP_a1_0      66          5.0
...                   ...     ...          ...
cd34norm_3_67  cd34norm_3      35         17.0
cd34norm_3_68  cd34norm_3       3         64.0
cd34norm_3_7   cd34norm_3      41         10.0
cd34norm_3_8   cd34norm_3      42          9.0
cd34norm_3_9   cd34norm_3      38         13.0

[471 rows x 3 columns]

## Save ordered version by rank, and filtered for top_n in each donor

In [7]:
clone_count_rank = clone_count_rank.sort_values("rank_ncells")
clone_count_rank.to_csv(out_cl_sizes_f, sep="\t")
clone_count_rank.head()

                   donor  ncells  rank_ncells
name
CHIP_a1_0_1    CHIP_a1_0     117          1.0
cd34norm_0_0  cd34norm_0     392          1.0
cd34norm_1_0  cd34norm_1     450          1.0
CHIP_b2_1_0    CHIP_b2_1     266          1.0
CHIP_b2_0_0    CHIP_b2_0     159          1.0

In [8]:
with open(out_cl_order_f, 'w') as f:
    cl_filt = clone_count_rank[clone_count_rank["rank_ncells"] <= top_n].index.values
    f.write("\n".join(cl_filt))