In [1]:
import pandas as pd

In [9]:
mgatk = pd.read_csv("/data2/mito_lineage/data/processed/mttrace/2020_11_18/PBMC_J/mapq_0/cellr_True/PBMC_J_200/refAllele.txt", sep="\t", header=None)
df.columns = ["POS", "REF"]
df

         POS REF
0          1   G
1          2   A
2          3   T
3          4   C
4          5   A
...      ...  ..
16564  16565   C
16565  16566   G
16566  16567   A
16567  16568   T
16568  16569   G

[16569 rows x 2 columns]

In [10]:
cellsnp = pd.read_csv("/data2/mito_lineage/Analysis/multiplex/data/chrM/PBMC_J_cellSNP_minC200_minAF0.01/cellSNP.base.vcf.gz", 
                      skiprows=1, sep="\t")
cellsnp

   #CHROM    POS ID REF ALT QUAL FILTER                        INFO
0    chrM    297  .   A   C    .   PASS   AD=1999;DP=131616;OTH=497
1    chrM    300  .   A   C    .   PASS   AD=4336;DP=123361;OTH=353
2    chrM    301  .   A   C    .   PASS  AD=1275;DP=116676;OTH=1179
3    chrM    302  .   A   G    .   PASS  AD=3326;DP=111520;OTH=2183
4    chrM    304  .   C   G    .   PASS   AD=1486;DP=111198;OTH=255
..    ...    ... ..  ..  ..  ...    ...                         ...
76   chrM  14047  .   A   G    .   PASS  AD=2609;DP=243755;OTH=1507
77   chrM  15377  .   A   C    .   PASS  AD=3378;DP=270637;OTH=1282
78   chrM  15442  .   A   G    .   PASS  AD=7389;DP=240306;OTH=3761
79   chrM  15443  .   C   G    .   PASS   AD=6410;DP=251504;OTH=230
80   chrM  16374  .   A   G    .   PASS  AD=2372;DP=224555;OTH=1139

[81 rows x 8 columns]

In [14]:
overlap_position = pd.merge(df, cellsnp, how='inner', on=['POS'])
overlap_position

      POS REF_x #CHROM ID REF_y ALT QUAL FILTER                        INFO
0     297     A   chrM  .     A   C    .   PASS   AD=1999;DP=131616;OTH=497
1     300     A   chrM  .     A   C    .   PASS   AD=4336;DP=123361;OTH=353
2     301     A   chrM  .     A   C    .   PASS  AD=1275;DP=116676;OTH=1179
3     302     A   chrM  .     A   G    .   PASS  AD=3326;DP=111520;OTH=2183
4     304     C   chrM  .     C   G    .   PASS   AD=1486;DP=111198;OTH=255
..    ...   ...    ... ..   ...  ..  ...    ...                         ...
76  14047     A   chrM  .     A   G    .   PASS  AD=2609;DP=243755;OTH=1507
77  15377     A   chrM  .     A   C    .   PASS  AD=3378;DP=270637;OTH=1282
78  15442     A   chrM  .     A   G    .   PASS  AD=7389;DP=240306;OTH=3761
79  15443     C   chrM  .     C   G    .   PASS   AD=6410;DP=251504;OTH=230
80  16374     A   chrM  .     A   G    .   PASS  AD=2372;DP=224555;OTH=1139

[81 rows x 9 columns]

In [16]:
overlap_position.loc[(overlap_position["REF_y"] !=  overlap_position["REF_x"])]

     POS REF_x #CHROM ID REF_y ALT QUAL FILTER                        INFO
6    310     T   chrM  .     C   T    .   PASS  AD=12734;DP=104415;OTH=194
23  3106     C   chrM  .     A   C    .   PASS    AD=7473;DP=17384;OTH=383