In [1]:
import pandas as pd

In [7]:
pbmc_j = pd.read_csv("data/PBMC_J_cellSNP/cellSNP.base.vcf", skiprows=1,sep="\t")
pbmc_j

     #CHROM        POS ID REF ALT QUAL FILTER               INFO
0      chr1    2290818  .   G   C    .   PASS  AD=34;DP=34;OTH=2
1      chr1    3624769  .   C   T    .   PASS   AD=0;DP=23;OTH=1
2      chr1   16237293  .   G   T    .   PASS   AD=1;DP=1;OTH=19
3      chr1   16904143  .   A   C    .   PASS   AD=1;DP=1;OTH=29
4      chr1   21294734  .   G   A    .   PASS   AD=0;DP=90;OTH=1
...     ...        ... ..  ..  ..  ...    ...                ...
1078   chrX   54639959  .   G   A    .   PASS   AD=0;DP=31;OTH=1
1079   chrX   76173099  .   G   T    .   PASS   AD=1;DP=1;OTH=31
1080   chrX  108091572  .   A   G    .   PASS   AD=0;DP=1;OTH=53
1081   chrX  123960480  .   T   C    .   PASS   AD=0;DP=1;OTH=33
1082   chrX  149939619  .   G   C    .   PASS   AD=1;DP=1;OTH=24

[1083 rows x 8 columns]

In [8]:
pbmc_p = pd.read_csv("data/PBMC_P_cellSNP/cellSNP.base.vcf", skiprows=1,sep="\t")
pbmc_p

     #CHROM        POS ID REF ALT QUAL FILTER               INFO
0      chr1    1273893  .   G   A    .   PASS   AD=0;DP=59;OTH=2
1      chr1    1630304  .   T   G    .   PASS   AD=1;DP=25;OTH=0
2      chr1    2133398  .   C   T    .   PASS  AD=0;DP=0;OTH=103
3      chr1    2301238  .   T   C    .   PASS  AD=81;DP=81;OTH=1
4      chr1    5992666  .   T   G    .   PASS   AD=0;DP=0;OTH=60
...     ...        ... ..  ..  ..  ...    ...                ...
998    chrX  135098900  .   G   A    .   PASS   AD=0;DP=83;OTH=1
999    chrX  149938651  .   C   G    .   PASS   AD=0;DP=70;OTH=1
1000   chrX  149939619  .   G   C    .   PASS   AD=0;DP=0;OTH=40
1001   chrX  150898821  .   G   A    .   PASS   AD=0;DP=4;OTH=41
1002   chrX  154378630  .   A   G    .   PASS   AD=1;DP=1;OTH=34

[1003 rows x 8 columns]

In [10]:
pd.merge(pbmc_p, pbmc_j, on=["#CHROM", "POS"], how="outer")

,#CHROM,POS,ID_x,REF_x,ALT_x,QUAL_x,FILTER_x,INFO_x,ID_y,REF_y,ALT_y,QUAL_y,FILTER_y,INFO_y
0,chr1,1273893,.,G,A,.,PASS,AD=0;DP=59;OTH=2,NaN,NaN,NaN,NaN,NaN,NaN
1,chr1,1630304,.,T,G,.,PASS,AD=1;DP=25;OTH=0,NaN,NaN,NaN,NaN,NaN,NaN
2,chr1,2133398,.,C,T,.,PASS,AD=0;DP=0;OTH=103,NaN,NaN,NaN,NaN,NaN,NaN
3,chr1,2301238,.,T,C,.,PASS,AD=81;DP=81;OTH=1,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,5992666,.,T,G,.,PASS,AD=0;DP=0;OTH=60,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,chrX,47582256,NaN,NaN,NaN,NaN,NaN,NaN,.,G,A,.,PASS,AD=22;DP=22;OTH=1
1874,chrX,54639959,NaN,NaN,NaN,NaN,NaN,NaN,.,G,A,.,PASS,AD=0;DP=31;OTH=1
1875,chrX,76173099,NaN,NaN,NaN,NaN,NaN,NaN,.,G,T,.,PASS,AD=1;DP=1;OTH=31
1876,chrX,108091572,NaN,NaN,NaN,NaN,NaN,NaN,.,A,G,.,PASS,AD=0;DP=1;OTH=53
1877,chrX,123960480,NaN,NaN,NaN,NaN,NaN,NaN,.,T,C,.,PASS,AD=0;DP=1;OTH=33

In [22]:
curr

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,data/PBMC_J_cellSNP
0,chr1,2290818,.,G,C,.,PASS,AD=34;DP=34;OTH=2,1
1,chr1,3624769,.,C,T,.,PASS,AD=0;DP=23;OTH=1,2
2,chr1,16237293,.,G,T,.,PASS,AD=1;DP=1;OTH=19,3
3,chr1,16904143,.,A,C,.,PASS,AD=1;DP=1;OTH=29,4
4,chr1,21294734,.,G,A,.,PASS,AD=0;DP=90;OTH=1,5
...,...,...,...,...,...,...,...,...,...
1078,chrX,54639959,.,G,A,.,PASS,AD=0;DP=31;OTH=1,1079
1079,chrX,76173099,.,G,T,.,PASS,AD=1;DP=1;OTH=31,1080
1080,chrX,108091572,.,A,G,.,PASS,AD=0;DP=1;OTH=53,1081
1081,chrX,123960480,.,T,C,.,PASS,AD=0;DP=1;OTH=33,1082
1082,chrX,149939619,.,G,C,.,PASS,AD=1;DP=1;OTH=24,1083

In [24]:
from os.path import join
indirs = ["data/PBMC_P_cellSNP", "data/PBMC_J_cellSNP"]

variants = pd.read_csv(join(indirs[0], "cellSNP.base.vcf"), skiprows=1,sep="\t")
variants[indirs[0]] = variants.index.values+1
for ind, val in enumerate(indirs[1:]):
    curr = pd.read_csv(join(val, "cellSNP.base.vcf"), skiprows=1,sep="\t")
    curr[val] = curr.index.values+1
    variants = pd.merge(variants, curr,on=["#CHROM", "POS"], how="outer")

    
# Loop again and map the coordinates
vars_coords = dict()
full_vars = variants.copy()
full_vars["new ID"] = variants.index.values+1

# what the new index should be.
for val in indirs:
    curr_vars = pd.read_csv(join(val, "cellSNP.base.vcf"), skiprows=1, sep="\t")
    curr_vars = pd.merge(curr_vars, full_vars, how="inner")
    curr_vars.index = curr_vars.index+1
    vars_coords[val] = curr_vars["new ID"]  # Pandas series about

In [33]:
full_vars.loc[~(full_vars[indirs].isnull().any(axis=1))]

,#CHROM,POS,ID_x,REF_x,ALT_x,QUAL_x,FILTER_x,INFO_x,data/PBMC_P_cellSNP,ID_y,REF_y,ALT_y,QUAL_y,FILTER_y,INFO_y,data/PBMC_J_cellSNP,new ID
9,chr1,26234168,.,A,G,.,PASS,AD=0;DP=89;OTH=1,10.0,.,A,G,.,PASS,AD=1;DP=87;OTH=0,9.0,10
16,chr1,35557754,.,C,T,.,PASS,AD=1;DP=3;OTH=52,17.0,.,C,T,.,PASS,AD=1;DP=4;OTH=56,14.0,17
30,chr1,86500220,.,T,C,.,PASS,AD=49;DP=49;OTH=1,31.0,.,T,C,.,PASS,AD=54;DP=54;OTH=1,30.0,31
38,chr1,103525715,.,G,A,.,PASS,AD=0;DP=1;OTH=52,39.0,.,G,A,.,PASS,AD=0;DP=1;OTH=43,36.0,39
41,chr1,110210163,.,C,A,.,PASS,AD=0;DP=0;OTH=93,42.0,.,C,A,.,PASS,AD=0;DP=0;OTH=59,40.0,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,chr22,50304662,.,A,G,.,PASS,AD=23;DP=23;OTH=1,979.0,.,A,G,.,PASS,AD=36;DP=36;OTH=1,1068.0,979
981,chrX,1505171,.,C,T,.,PASS,AD=19;DP=19;OTH=1,982.0,.,C,T,.,PASS,AD=28;DP=28;OTH=3,1072.0,982
983,chrX,23907894,.,A,T,.,PASS,AD=0;DP=0;OTH=48,984.0,.,A,T,.,PASS,AD=1;DP=1;OTH=29,1074.0,984
987,chrX,53082003,.,A,T,.,PASS,AD=37;DP=38;OTH=0,988.0,.,A,T,.,PASS,AD=29;DP=29;OTH=1,1078.0,988
1000,chrX,149939619,.,G,C,.,PASS,AD=0;DP=0;OTH=40,1001.0,.,G,C,.,PASS,AD=1;DP=1;OTH=24,1083.0,1001

In [38]:
full_vars.sort_values("new ID")

,#CHROM,POS,ID_x,REF_x,ALT_x,QUAL_x,FILTER_x,INFO_x,data/PBMC_P_cellSNP,ID_y,REF_y,ALT_y,QUAL_y,FILTER_y,INFO_y,data/PBMC_J_cellSNP,new ID
0,chr1,1273893,.,G,A,.,PASS,AD=0;DP=59;OTH=2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,chr1,1630304,.,T,G,.,PASS,AD=1;DP=25;OTH=0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,chr1,2133398,.,C,T,.,PASS,AD=0;DP=0;OTH=103,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,chr1,2301238,.,T,C,.,PASS,AD=81;DP=81;OTH=1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,chr1,5992666,.,T,G,.,PASS,AD=0;DP=0;OTH=60,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,chrX,47582256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,G,A,.,PASS,AD=22;DP=22;OTH=1,1077.0,1874
1874,chrX,54639959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,G,A,.,PASS,AD=0;DP=31;OTH=1,1079.0,1875
1875,chrX,76173099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,G,T,.,PASS,AD=1;DP=1;OTH=31,1080.0,1876
1876,chrX,108091572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,A,G,.,PASS,AD=0;DP=1;OTH=53,1081.0,1877
1877,chrX,123960480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.,T,C,.,PASS,AD=0;DP=1;OTH=33,1082.0,1878

In [37]:
vars_coords

{'data/PBMC_P_cellSNP': 1          1
 2          2
 3          3
 4          4
 5          5
         ...
 999      999
 1000    1000
 1001    1001
 1002    1002
 1003    1003
 Name: new ID, Length: 1003, dtype: int64,
 'data/PBMC_J_cellSNP': 1       1004
 2       1005
 3       1006
 4       1007
 5       1008
         ...
 1079    1875
 1080    1876
 1081    1877
 1082    1878
 1083    1001
 Name: new ID, Length: 1083, dtype: int64}

In [47]:
vars_coords["data/PBMC_J_cellSNP"].index.name = "data/PBMC_J_cellSNP"

vars_coords["data/PBMC_J_cellSNP"].to_csv("foo.tsv", sep="\t")

In [34]:
full_vars[full_vars["new ID"] == 1001]

,#CHROM,POS,ID_x,REF_x,ALT_x,QUAL_x,FILTER_x,INFO_x,data/PBMC_P_cellSNP,ID_y,REF_y,ALT_y,QUAL_y,FILTER_y,INFO_y,data/PBMC_J_cellSNP,new ID
1000,chrX,149939619,.,G,C,.,PASS,AD=0;DP=0;OTH=40,1001.0,.,G,C,.,PASS,AD=1;DP=1;OTH=24,1083.0,1001

In [35]:
import seaborn as sns

sns.catplot(full_vars.loc[~(full_vars[indirs].isnull().any(axis=1))], "#CHROM")

ModuleNotFoundError: No module named 'seaborn'